body {
    font-family: 'Arial Rounded MT Bold';
    background: linear-gradient(to bottom, #c2465a, #f59da1); /* Gradien pink-merah */
    color: white;
    text-align: center;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: auto;
}

h1, h2 {
    color: #fff;
}

.music-player, .gallery, .letters {
    margin: 20px 0;
    padding: 20px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}

.gallery img {
    width: 200px;
    height: auto;
    margin: 10px;
    border-radius: 10px;
    transition: transform 0.3s;
}

.gallery img:hover {
    transform: scale(1.1);
}

.letter {
    margin-top: 10px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
}

.hidden {
    display: none;
}

button {
    background: #912038;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

button:hover {
    background: #ff69b4;
}